:root {
  --brand-color: #2196f3;
  --common-text-color: #757575;
  --primary-black: #212121;
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
  font-weight: normal;
  color: var(--common-text-color);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.logo-web {
  color: var(--brand-color);
}
.logo-studio {
  color: var(--primary-black);
}
.logo-web-footer {
  color: var(--brand-color);
}
.logo-studio-footer {
  color: white;
}
.navigation-footer li :hover,
.navigation-header li :hover,
.contacts-header li :hover {
  color: var(--brand-color);
}
.logo {
  font-size: 26px;
  font-family: "Raleway", "Roboto", sans-serif;
  font-weight: bold;
}
.about h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}
h1,
h2,
h3 {
  color: var(--primary-black);
}
.button-index {
  color: #ffffff;
  background-color: var(--brand-color);
  border: none;
  border-radius: 5px;
}
.buttons > li > button {
  border: none;
  border-radius: 5px;
  background: #f5f4fa;
}
.buttons > li > button:hover {
  color: white;
  background-color: var(--brand-color);
}
.contacts-header a {
  color: var(--common-text-color);
}
a:visited {
  color: inherit;
}
.navigation-header a {
  color: var(--primary-black);
}
.team p {
  text-align: center;
}
.navigation-footer a {
  color: var(--common-text-color);
}
#location {
  color: #ffffff;
}
a:focus {
  color: var(--brand-color);
}
button {
  cursor: pointer;
}
